*
!/config
!/config/default.env
!/deploy
!/dockerfiles
!/dockerfiles/twurl
!/dockerfiles/twurl/Dockerfile
!/dockerfiles/twurl-bot
!/dockerfiles/twurl/Dockerfile
!/src
!/src/bot.sh
!LICENSE
!Makefile
!README.md
!.gitignore
